<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Takatuli"
        tools:targetApi="31">
        <activity
            android:name=".item_card_resena"
            android:exported="false" />
        <activity
            android:name=".Resenas"
            android:exported="false">

        </activity>

        <activity
            android:name=".foto_perfil"
            android:exported="false" />
        <activity
            android:name=".Politicas_de_Privacidad"
            android:exported="false" />
        <activity
            android:name=".ui.activity_detallesHospedaje"
            android:exported="false" />
        <activity
            android:name=".activity_detallesRestaurante"
            android:exported="false" />
        <activity
            android:name=".activity_detallesTuristicos"
            android:exported="false" />
        <activity
            android:name=".item_card_hospedaje"
            android:exported="false" />
        <activity
            android:name=".rcvhospedajes"
            android:exported="false" />
        <activity
            android:name=".activity_rcvRestaurante"
            android:exported="false">
        </activity>
        <activity
            android:name=".item_card"
            android:exported="false" />
        <activity
            android:name=".Acerca_de"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecuperacionDecontrasenia"
            android:exported="false" />
        <activity
            android:name=".RegistrarUsuarios"
            android:exported="false" />
        <activity
            android:name=".RecuperacionDePassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activity_maps"
            android:exported="false"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>